@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
.button {
  font: inherit;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #761e86;
  border-color: #ac31c1;
}

.div {
  text-align: center;
  background-image: url("https://img.freepik.com/free-vector/gradient-minimalist-background_23-2149976737.jpg?t=st=1718122382~exp=1718125982~hmac=af97d3e4f2583ec4f2c4a24140d87dcc699d1d343b59eb09467cd57340b1b735&w=996");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #eae6eb; */
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 70vh;
  padding: 15vh 36vw;
  color: white;
  margin: -2vh 0vh;
}

.h1 {
  font-size: 3.5rem;
}

.p {
  font-size: 1.3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
