.Subscription_Page {
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png");
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    display: flex;
    flex-direction: column;
  }
  