body {
  font-family: 'Arial', sans-serif;
}

.subscriptions-container {
  padding: 20px;
  background: transparent; /* Make background transparent */
  color: #faf6f6;
  text-align: center;
  overflow: hidden; 
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #1c1b1b;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  padding: 20px;
  margin: 40px;
  flex: 0 1 calc(33.333% - 20px); /* Three cards per row */
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  background-color: #0070f3;
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.card-body {
  text-align: left;
  padding: 10px;
}

.card-detail {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.card-detail i {
  margin-right: 8px;
  color: #0070f3;
}

.card-features {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 0;
}

.card-features li {
  padding: 5px 0;
}

.card-button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.card-button:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 1 100%; /* One card per row on very small screens */
  }
}

