.subscription-banner {
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.show-subscriptions {
    color: white;
    margin: 40px
}

.BannerText {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
}

.subscription-slideshow {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    height: auto;
}

.slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    background-color: rgb(190, 162, 162);
    border: 30;
    border-radius: 70%;
    padding: 10px;
    cursor: pointer;
    z-index: 45;
}

.slideshow-button:first-child {
    left: 0;
}

.slideshow-button:last-child {
    right: 0;
}

.slideshow-images {
    display: flex;
    transition: transform 0.2s ease;
}

.slideshow-image img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}