@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

.div {
  background-image: url("https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.planContainer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}
p{
  margin-bottom: 10px;
}