@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

.div {
  background-image: url("https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 94vh;
}

.h1 {
  text-align: center;
  padding: 2vh 0vh 0vh 0vh;
  font-size: 2.7rem;
  color: #f9d7ff;
}

.content{
  list-style: none;
  background-color: #77157c;
  width: 50vw;
  margin: 0vh 25vw;
  padding: 2vh 6vh;
  border-radius: 1rem;
  box-shadow: 6px 6px 16px #330f39;
  color: white;
  text-align: center;
}