@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

.div {
  background-image: url("https://img.freepik.com/free-vector/gradient-minimalist-background_23-2149976755.jpg?t=st=1718278731~exp=1718282331~hmac=ca214d36dae4f9664552035d3b0d8ddac473a8c69ac309803de278cd334a0dcc&w=996");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 94vh;
  text-align: center;
}

.planContainer {
  list-style: none;
  background-color: #673ab7;
  width: 50vw;
  margin: 0vh 25vw;
  padding: 2vh 6vh; 
  border-radius: 1rem;
  box-shadow: 6px 6px 16px #330f39;
}
