.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?t=st=1718035102~exp=1718035702~hmac=9afde2cd0af69e894979a52ff018a7cf82616ff5bb9faf7ef366bac373fec1a3");
    position: relative;
}
  